.custom-slider-container {
    position: relative;
    width: 75%;
    height: 100%;
    margin: auto;
}

.custom-slider-item{
    position:absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* transition: 900ms; */
    /* transition: all 0.8s ease-out; */
    transition: initial 0.8s ease-out;
    
}

.custom-slider-img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
    transition: 1s cubic-bezier(0.17, 0.67, 0.55, 1.43) !important;
    /* transition: all 0.8s ease-out; */
    transform: scale(0);
    opacity: 0;
    border-radius: 15px;
}





.custom-slider-img-next {
    z-index: 1 !important;
}
/*  */
.custom-slider-img-next-behind_1{
    z-index: -1 !important;
}
.custom-slider-img-next-behind_2{
    z-index: -2 !important;
}
.custom-slider-img-next-behind_3{
    z-index: -3 !important;
}
.custom-slider-img-next-behind_4 {
    z-index: -4 !important;
}

.custom-slider-img-next-behind_1 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(10.7rem) scale(0.75) !important;
}
.custom-slider-img-next-behind_2 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(14.7rem) scale(0.65) !important;
}
.custom-slider-img-next-behind_3 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(18rem) scale(0.55) !important;
}
.custom-slider-img-next-behind_4 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(21rem) scale(0.45) !important;
}
/* * */

.custom-slider-img-next .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(6rem) scale(0.85) !important;
}

.custom-slider-img-hide-right .custom-slider-img {
    transform: translate(50%) scale(0) !important;
    
}

.custom-slider-img-hide-left .custom-slider-img {
    transform: translate(-50%) scale(0)  !important;

}





.custom-slider-img-prev-behind_1, .custom-slider-img-prev-behind_2, .custom-slider-img-prev-behind_3, .custom-slider-img-prev-behind_4 {
    z-index: 1 !important;
}

.custom-slider-img-prev-behind_1 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(-12.5rem) scale(0.75) !important;
}

.custom-slider-img-prev-behind_2 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(-18.5rem) scale(0.65) !important;
}
.custom-slider-img-prev-behind_3 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(-24.5rem) scale(0.55) !important;
}
.custom-slider-img-prev-behind_4 .custom-slider-img {
    opacity: 0.99 !important;
    transform: translate(-30.5rem) scale(0.45) !important;
}


.custom-slider-img-prev {
    z-index: 1 !important;
}
.custom-slider-img-prev .custom-slider-img {
    opacity: 1 !important;
    transform: translate(-6.5rem) scale(0.85) !important;
}



.custom-slider-img-selected {
    z-index: 2 !important;
    /* border: 1px solid red; */
}

.custom-slider-img-selected .custom-slider-img {
    opacity: 1 !important;
    transform: translateX(0%) scale(1) !important;
    cursor: grab !important;
}

.inner-items {
    padding: 3rem;
    position: relative;
}

.item-title {
    font-family: "PoiretOne";
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 50px;
    /* text-align: center; */
    letter-spacing: 0.7em;
    /* color: #000000; */
    text-transform: uppercase;
}

::ng-deep .item-title-initials {
    font-size: 40px;
    color: #7B121E !important;
}

.item-content {
    /* position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 3rem;
 
    transform: translateY(-25%); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.07em;
    color: #000000;
    font-size: 17px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.25em; */
    /* border: 1px solid red; */
    /* padding-top: 2rem;
    min-height: 100% !important; */
}



/* START RESPONSIVE STYLE  */

@media only screen and (max-width: 1020px) {
    .custom-slider-img-prev-behind_4, 
    .custom-slider-img-next-behind_4 {
        display: none !important;
    }

    .custom-slider-img-prev .custom-slider-img {
        transform: translate(-6.5rem) scale(0.85) !important;
    }
    .custom-slider-img-prev-behind_1 .custom-slider-img {
        transform: translate(-12rem) scale(0.75) !important;
    }
    .custom-slider-img-prev-behind_2 .custom-slider-img {
        transform: translate(-16.5rem) scale(0.65) !important;
    }

    .custom-slider-img-prev-behind_3 .custom-slider-img {
        transform: translate(-20.5rem) scale(0.55) !important;
    }

    .custom-slider-img-next .custom-slider-img {
        transform: translate(6rem) scale(0.85) !important;
    }
    .custom-slider-img-next-behind_1 .custom-slider-img {
        transform: translate(10.3rem) scale(0.75) !important;
    }

    .custom-slider-img-next-behind_2 .custom-slider-img {
        transform: translate(14rem) scale(0.65) !important;
    }
    .custom-slider-img-next-behind_3 .custom-slider-img {
        transform: translate(17rem) scale(0.55) !important;
    }
}

@media only screen and (max-width: 900px) {
    .custom-slider-img-prev-behind_3, 
    .custom-slider-img-prev-behind_4, 
    .custom-slider-img-next-behind_3, 
    .custom-slider-img-next-behind_4 {
        display: none !important;
    }

    .custom-slider-img-prev .custom-slider-img {
        transform: translate(-6.5rem) scale(0.85) !important;
    }
    .custom-slider-img-prev-behind_1 .custom-slider-img {
        transform: translate(-12rem) scale(0.75) !important;
    }
    .custom-slider-img-prev-behind_2 .custom-slider-img {
        transform: translate(-16.5rem) scale(0.65) !important;
    }

    .custom-slider-img-next .custom-slider-img {
        transform: translate(5rem) scale(0.85) !important;
    }
    
    .custom-slider-img-next-behind_1 .custom-slider-img {
        transform: translate(8.7rem) scale(0.75) !important;
    }

    .custom-slider-img-next-behind_2 .custom-slider-img {
        transform: translate(11.7rem) scale(0.65) !important;
    }
}

@media only screen and (max-width: 700px) {
    .custom-slider-container {
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
    }


    .item-title {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.7em;
    }
    
    ::ng-deep .item-title-initials {
        font-size: 30px;
        color: #7B121E !important;
    }

    .item-content {
        color: #000000;
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0.20em;
    }

    .inner-items {
        padding: 1.5rem;
        padding-top: 3rem;
    }

    .custom-slider-img-prev-behind_2, 
    .custom-slider-img-prev-behind_3, 
    .custom-slider-img-prev-behind_4, 
    .custom-slider-img-next-behind_2, 
    .custom-slider-img-next-behind_3, 
    .custom-slider-img-next-behind_4 {
        display: none !important;
    }

    .custom-slider-img-prev .custom-slider-img {
        transform: translate(-6rem) scale(0.85) !important;
    }
    .custom-slider-img-prev-behind_1 .custom-slider-img {
        transform: translate(-12rem) scale(0.75) !important;
    }

    .custom-slider-img-next .custom-slider-img {
        transform: translate(4rem) scale(0.85) !important;
    }
    .custom-slider-img-next-behind_1 .custom-slider-img {
        transform: translate(6.7rem) scale(0.75) !important;
    }

}

@media only screen and (max-width: 500px) {
    .custom-slider-container {
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
    }


    .item-title {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.7em;
    }
    
    ::ng-deep .item-title-initials {
        font-size: 30px;
        color: #7B121E !important;
    }

    .item-content {
        color: #000000;
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0.20em;
    }

    .inner-items {
        padding: 1.5rem;
        padding-top: 3rem;
    }

    .custom-slider-img-prev-behind_1, 
    .custom-slider-img-prev-behind_2, 
    .custom-slider-img-prev-behind_3, 
    .custom-slider-img-prev-behind_4, 
    .custom-slider-img-next-behind_1, 
    .custom-slider-img-next-behind_2, 
    .custom-slider-img-next-behind_3, 
    .custom-slider-img-next-behind_4 {
        display: none !important;
    }

    .custom-slider-img-prev .custom-slider-img {
        opacity: 1 !important;
        transform: translate(-6rem) scale(0.85) !important;
    }

    .custom-slider-img-next .custom-slider-img {
        opacity: 0.99 !important;
        transform: translate(3.5rem) scale(0.85) !important;
    }
    


}
/* END RESPONSIVE STYLE  */
