<div class="d-flex justify-content-center">
    <div class="row ">
            <div class="col-md-5 responsive-img">
                <img  src="../assets/svg/goals.svg" class="img-fluid rounded-start" alt="...">
                <!-- <div style="background-color: gray; height: 100%;">a</div> -->
            </div>
            <div class="col-md-7 col-sm-12 pb-5">
                <div class="card-body custom-card">
                <h1 class="card-title section-title">MISSION</h1>
                <!-- <h3 class="card-title mt-3">
                    TO EXPAND <span class="text-danger">GOD'S KINGDOM</span> 
                    BY CATALYZING THE MULTIPLICATION OF CHRIST-CENTERED CHURCHES THAT WILL TRANSFORM THEIR COMMUNITIES TO BECOME GOOD, HOLY AND ACCEPTABLE
                </h3> -->
                <h3 class="card-title mt-3 section-subtitle">
                    To expand <span class="text-danger">God's kingdom</span> 
                    by catalyzing the multiplication of Chirst-centered churches that will transform thier communities to become good, holy and acceptable.
                </h3>
                <br>
                <p class="card-text content-text mt-4">
                    A Clear-cut mobilization and sending of sciptural trained disciples.
                </p>
                </div>
            </div>
        </div>
    </div>