

  .spacer {
    flex: 1;
  }

  /* .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid #000000;
  } */

  /* .toolbar img {
    margin: 0 50px;
  }

  .toolbar img {
    margin: 0 50px;
  } */

  .brand-title {
    font-size: 24px;
    font-family: "PoiretOne";
    line-height: 30px;
    letter-spacing: 12.48px;
    font-weight: 600;
    color: #FFF;
  }

  .brand-qoute {
    font-size: 15px ;
    font-family: "MontserratAlternates";
    /* color: rgba(0, 0, 0, 0.685); */
    color: #FFF;
    line-height: 17px;
    letter-spacing: 0.03rem;
    /* font-weight: 600; */
  }

  .header-social-icons {
    padding-right: 1rem !important;
  }
  .header-social-icons .items {
    padding: 0 8px !important;
  }
  
  .header-social-icons .items svg {
    width: 24px !important;
    height: 24px !important;
    flex-shrink: 0;
  }

  .header-social-icons .items svg  path{
    fill: #fffffff1;
  }


  #toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }

  #navbarSupportedContent {
    padding-left: 1.5rem !important;
    /* background: rgba(123, 18, 30, 0.50); */

  }
  .nav-item{
    font-family: "San Francisco Medium";
    letter-spacing: 0.04rem;
  }

  .nav-item .nav-link {
    color: #fffffff1;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
