
<div class="theme-bg min-vh-100 w-100 d-flex flex-column align-items-center justify-content-center">
    <div id="theme-div-wrapper"></div>
    <div class="good-starter">Good Starter</div>
    <div class="strong-finisher">Strong Finisher</div>
    <div class="supporting-verse">Don't be afraid, for i am with you. don't be discouraged, for i am your god, "see, all your angry enemies lie ther, confused and humiliated. anyone who opposes you will die and come to nothing. you will look in vain for those who tried to conquer you. those who attack you will come to nothing. for i hold you by your right hand — i, the lord your god. and i say to you, dont't be afraid. i am here to help you. i will strengthen you and help you. I will hold you up with my victorious right hand."</div>
    <div class="verse w-100">— ISAIAH 41:10-13</div>
</div>