<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" >
            <img  src="../assets/svg/vision.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 pb-5">
            <div class="card-body custom-card">
            <h1 class="card-title section-title">VISION</h1>
            <h3 class="card-title mt-3 section-subtitle">
                TO GO AND <span class="text-danger">MAKE DISCIPLES</span> TO ALL NATION
            </h3>
            <br>
            <p class="card-text content-text mt-4">
                A discipled Batangueno that will extend to neighboring provinces and soon across the land of the Philippines where Jesus Christ is recognized as Lord of all.
            </p>
            <p class="card-text sub-content">A maker of spirit-filled champion for Christ.</p>
            </div>
        </div>
    </div>
</div>