<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 pb-2">
            <div class="card-body custom-card">
                <div class="box-item">
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="global-about-title-section">
                            <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"/></svg>
                        </div>
                        <div>
                            <h1 class="card-title global-about-item-title">VISION</h1>
                        </div>
                    </div>
                    <h3 class="card-title mt-3 home-section-subtitle">
                        TO GO AND <span class="text-higlight">MAKE DISCIPLES</span> TO ALL NATION
                    </h3>
                    <p class="global-contents mt-3">
                        A champion-discipled Batangueño that will extend to neighboring provinces and soon across the land of The Philippines where Jesus Christ is recognized as Lord of all.
                    </p>
                    <p class="global-contents mt-2">A maker of spirit-filled champion for Christ.</p>
                </div>
            </div>
        </div>
    </div>
</div>