<div>
  <div class="pb-5">
    <app-header></app-header>
  </div>
  
  <div class="container content w-100 " >
    <div id="vision" class="vh-100 d-flex align-items-center" style="min-height: 600px;">
      <app-vision></app-vision>
    </div>
    <div id="mission" class="vh-100 d-flex align-items-center" style="min-height: 600px;">
      <app-mission></app-mission>
    </div>
    <div id="core-values" class="vh-100 " style="min-height: 600px;">
      <app-core-values></app-core-values>
    </div>
  </div>
</div>