<div>
  <div class="">
    <!-- <app-header ></app-header> -->
    <app-header id="ahoc-navbar" style="position: absolute; top:0; width: 100%; z-index: 9 !important;"></app-header>
    <app-home></app-home>
  </div>
  
  <!-- <div class="container content w-100 " >
    <div id="vision" class="vh-100 d-flex align-items-center" style="min-height: 600px;">
      <app-vision></app-vision>
    </div>
    <div id="mission" class="row vh-100 d-flex align-items-center" style="min-height: 600px;">
      <app-mission></app-mission>
    </div>
    <div id="core-values" class="row min-vh-100 d-flex align-items-center" style="min-height: 600px;">
      <app-core-values></app-core-values>
    </div>
    <div id="footer" class="row">
      <app-footer></app-footer>
    </div>
  </div> -->
</div>