#service-title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.service-item{
    padding: 2rem 1rem;
}

.service-item-details {
    width: 65%;
    max-width: 210px;
}

/* override */
.global-sub-titles{
    text-wrap: nowrap;
    text-align: right;
    color: #000000;
    font-weight: 400;
}

.global-contents{
    text-align: right;
    padding-top: 0.5rem;
}

.global-date{
    text-align: right;
}


.service-item-date {
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #7B121E;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-align: right;
}
.service-item-content {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #000000;
    width: 70%;
    text-align: right;
    padding-top: 0.5rem;
}

.services-icons-div{
    padding-left: 2rem;
    padding-right: 2rem;
}
.services-icons{
    width: 132px;
    height: 133px;
    border-radius: 50%;
    background: #4c181e62;
}

.service-item-align-left {
    text-align: left;
}


.flexible-item{
    flex:1 1 50%;
}











/* START RESPONSIVE STYLE  */
    @media only screen and (max-width: 1020px) {
        .flexible-item{
            flex:0 0 100% !important;
        }

        .service-item-details {
            width: 65%  !important;
            max-width: 65% !important;
        }
    }
    @media only screen and (max-width: 500px) {
        #service-title {
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0.20em;
            padding-bottom: 1rem !important;
            padding-top: 3.2rem !important;
        }

        .service-item-date {
            font-size: 12px;
            letter-spacing: 0.15em;
        }
        .service-item-content {
            font-family: 'Nunito Sans';
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.13em;
            width: 100%;
            padding-top: 0.5rem;
        }

        .services-icons-div{
            padding-left: 1.2rem;
            padding-right: 0.3rem;
        }
        
        .services-icons-div-right{
            padding-right: 1.2rem;
            padding-left: 0.3rem;
        }
        .services-icons{
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: #D9D9D9;
        }
}
/* END RESPONSIVE STYLE  */