<div class="min-vh-100 max-vh-100 d-flex align-items-center">
   <div class="pb-4">
    <div id="service-title" class="">
        AHOC Services
    </div>

    <div *ngFor="let item of items">
    <div class="d-flex flex-lg-row flex-column ">
            <div class="mr-auto w-100">
                <div class="d-flex align-items-center justify-content-end service-item">
                    <div class="service-item-details">
                        <div class="service-item-title">UPCOMING EVENTS</div>
                        <div class="service-item-date">FEBRUARY 10, 2024</div>
                        <div class="d-flex justify-content-end ">
                            <div class="service-item-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae mi eget nisl bibendum dictum nec ut massa.  
                            </div> 
                        </div>
                    </div>
                    <div class="services-icons-div">
                        <div class="services-icons"></div>
                    </div>
                </div>
            </div>
            <div class="w-100 ">
                <div class="d-flex align-items-center justify-content-start service-item">
                    <div class="services-icons-div services-icons-div-right">
                        <div class="services-icons"></div>
                    </div>
                    <div class="service-item-details">
                        <div class="service-item-title service-item-align-left">UPCOMING EVENTS</div>
                        <div class="service-item-date service-item-align-left">FEBRUARY 10, 2024</div>
                        <div class="d-flex justify-content-start ">
                            <div class="service-item-content service-item-align-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae mi eget nisl bibendum dictum nec ut massa.  
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
