<div class="min-vh-100 max-vh-100 d-flex align-items-center container">
    <div class="pb-4 w-100">
        <div class="global-section-title">
            AHOC Services
        </div>

        <div *ngIf="items?.length == 0"  class="d-flex align-items-center justify-content-center">
            <h3>No upcoming services and events...</h3>
        </div>
        <div *ngIf="items?.length > 0" class="d-flex flex-row flex-wrap justify-content-center">
            <div *ngFor="let item of items; let i =index;" class=" w-100 flexible-item">
                <div *ngIf="i % 2 == 0" class="mr-auto w-100">
                    <div class="d-flex align-items-center justify-content-end service-item w-100">
                        <div class="service-item-details">
                            <div class="global-sub-titles text-uppercase">{{ item.title }}</div>
                            <div class="global-date">{{ item.date | date:'longDate' }}</div>
                            <div class="d-flex justify-content-end ">
                                <div class="global-contents">
                                    {{ item.description }}
                                </div> 
                            </div>
                        </div>
                        <div class="services-icons-div">
                            <div class="services-icons d-flex align-items-center justify-content-center">
                                <img width="100" alt="AHOC LOGO" [src]="item.image_url"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 2 != 0" class="w-100" >
                    <div class="d-flex align-items-center justify-content-start service-item">
                        <div class="services-icons-div services-icons-div-right">
                            <div class="services-icons d-flex align-items-center justify-content-center">
                                <img width="100" alt="AHOC LOGO" [src]="item.image_url"/>
                            </div>
                        </div>
                        <div class="service-item-details">
                            <div class="global-sub-titles service-item-align-left text-uppercase">{{ item.title }}</div>
                            <div class="global-date service-item-align-left">{{ item.date | date:'longDate' }}</div>
                            <div class="d-flex justify-content-start ">
                                <div class="global-contents service-item-align-left">
                                    {{ item.description }}
                                </div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
