    <div class="row">
        <div class="col-lg-12 px-4">
            <h1 class="card-title section-title">CORE VALUES</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 p-4">
            <div class="card-body px-3 py-4 pb-5 rounded shadow shadow-lg h-100">
                <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" style="min-height: 120px !important;">
                    <img  src="assets/svg/integrity.svg" class="img-fluid rounded-start" alt="...">
                </div>
                <h2 class="card-title section-subtitle">
                   <span class="text-danger initials">
                    I</span>NTEGRITY
                </h2>
                <p class="card-text content-text mt-4">
                    Morally and biblically sounded in all practice and willing to be disciplined.
                </p>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4 p-4">
            <div class="card-body px-3 py-4 pb-5 rounded shadow shadow-lg h-100">
                <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" style="min-height: 120px !important;">
                    <img  src="assets/svg/modesty.svg" class="img-fluid rounded-start" alt="...">
                </div>
                <h2 class="card-title section-subtitle">
                    <!-- <img  src="../assets/svg/clipboard.svg" class="img-fluid rounded-start" alt="..."> -->
                   <span class="text-danger initials">
                    M</span>ODESTY
                </h2>
                <p class="card-text content-text mt-4">
                    Humble not arrogant express in spirit of submission to God and those who are in authorithy over one soul and reflect in anomity.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-4">
            <div class="card-body px-3 py-4 pb-5 rounded shadow shadow-lg h-100">
                <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" style="min-height: 120px !important;">
                    <img  src="assets/svg/prayer.svg" class="img-fluid rounded-start" alt="...">
                </div>
                <h2 class="card-title section-subtitle">
                    <!-- <img  src="../assets/svg/clipboard.svg" class="img-fluid rounded-start" alt="..."> -->
                   <span class="text-danger initials">
                    P</span>RAYER
                </h2>
                <p class="card-text content-text mt-4">
                    A House of Prayer for the community that express total dependency to God Ministry of Prayer.
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-4">
            <div class="card-body px-3 py-4 pb-5 rounded shadow shadow-lg h-100">
                <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" style="min-height: 120px !important;">
                    <img  src="assets/svg/abiding.svg" class="img-fluid rounded-start" alt="...">
                </div>
                <h2 class="card-title section-subtitle">
                    <!-- <img  src="../assets/svg/clipboard.svg" class="img-fluid rounded-start" alt="..."> -->
                   <span class="text-danger initials">
                    A</span>BIDING
                </h2>
                <p class="card-text content-text mt-4">
                    Unworthly servants that commitment is firm and strong, and in faith offered sacrificial giving.
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-4">
            <div class="card-body px-3 py-4 pb-5 rounded shadow shadow-lg h-100">
                <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" style="min-height: 120px !important;">
                    <img  src="assets/svg/clever.svg" class="img-fluid rounded-start" alt="...">
                </div>
                <h2 class="card-title section-subtitle">
                    <!-- <img  src="../assets/svg/clipboard.svg" class="img-fluid rounded-start" alt="..."> -->
                   <span class="text-danger initials">
                    C</span>LEVER
                </h2>
                <p class="card-text content-text mt-4">
                    Excellent of what is good and innocent of evil and it will manifest in complete and holistic ministry wise leaders and yet gentle and it will display through teachability.
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-4">
            <div class="card-body px-3 py-4 pb-5 rounded shadow shadow-lg h-100">
                <div class="col-lg-5 col-md-12 col-sm-12 responsive-img" style="min-height: 120px !important;">
                    <img  src="assets/svg/training.svg" class="img-fluid rounded-start" alt="...">
                </div>
                <h2 class="card-title section-subtitle">
                    <!-- <img  src="../assets/svg/clipboard.svg" class="img-fluid rounded-start" alt="..."> -->
                   <span class="text-danger initials">
                    T</span>RAINING
                </h2>
                <p class="card-text content-text mt-4">
                    Utilize the word of God as the sole and ultimate tools for rebuke, correction, teaching and training in righteousness. Ministry of the word.
                </p>
            </div>
        </div>
    </div>