<div class="min-vh-100 max-vh-100">
    <div id="testimonyControls" class="carousel slide min-vh-100 max-vh-100" data-bs-ride="carousel"  style="position: relative;">
        <!-- <div id="testimonial-tittle">INSPIRATIONAL TESTIMONY</div> -->
        <ol class="carousel-indicators" style="z-index: 9;">
            <li data-bs-target="#testimonyControls" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#testimonyControls" data-bs-slide-to="1"></li>
            <li data-bs-target="#testimonyControls" data-bs-slide-to="2"></li>
            <li data-bs-target="#testimonyControls" data-bs-slide-to="3"></li>
            <li data-bs-target="#testimonyControls" data-bs-slide-to="4"></li>
            <li data-bs-target="#testimonyControls" data-bs-slide-to="5"></li>
            <li data-bs-target="#testimonyControls" data-bs-slide-to="6"></li>
          </ol>
          
        <div class="carousel-inner min-vh-100 max-vh-100">
            
        <!-- <div *ngFor="let slidex of slides; let i = index; first as isFirst">
            {{ i }} -->
          <div *ngFor="let slide of slides; let i = index; first as isFirst" class="min-vh-100 max-vh-100 carousel-custom-bg" [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' " [ngStyle]="{ 'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.671)), url('+slide.background_url+')' }">
            <!-- <div class="d-flex align-items-center justify-content-center"> -->
              <div class="min-vh-100 d-flex flex-column align-items-center justify-content-center content-item">
                <div id="testimonial-tittle">INSPIRATIONAL TESTIMONY</div>
                <div class="d-flex align-items-center justify-content-center carousel-person-div">
                  <div class="carousel-person" style="position: relative; " [ngStyle]="{ 'background-image' : 'url('+slide.image_url+')' }">
                    <div class="d-flex align-items-center justify-content-center qoute-icon"><h4 class="pt-5">“</h4></div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="text-testimony global-contents">
          <!-- <div class="carousel-item min-vh-100 carousel-custom-bg" style="background: url('assets/img/contents/testimony/bg/pat_BG.jpg');"> -->
                      <div [innerHTML]="slide.testimony | truncate:['500', '...']"> </div>
                      <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex align-items-center" role="button" style="border-bottom: 1px solid #FFFFFF;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="showFullTestimony($event, i)">
                          <span class="see-full-button">
                            See full testimony 
                            
                          </span>
                          <svg class="svg-icon-right d-flex align-items-center" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 34 34" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 1c-6.071 0-11 4.929-11 11s4.929 11 11 11 11-4.929 11-11-4.929-11-11-11zm4.828 11.5l-4.608 3.763.679.737 6.101-5-6.112-5-.666.753 4.604 3.747h-11.826v1h11.828z"/>
                          </svg>
                        </div>
                       
                      </div>
                      
                     <!-- <span> {{ slide.testimony | truncate:['500', '...']}} <span class="see-full-button" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="showFullTestimony(i)">See full testimony</span></span> -->
                    <!--A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. -->
                  </div>
                </div>
                <div class="testimony-person-name pt-4">{{ slide.fullname }}</div>
                <div class="testimony-person-position pt-0 pb-5">{{ slide.designation }}</div>
              </div>
            <!-- </div> -->
          </div>
        <!-- </div> -->
          <!-- <div class="carousel-item min-vh-100 carousel-custom-bg" style="background: url('assets/img/contents/testimony/bg/pat_BG.jpg');">
            <div>JEAN</div>
          </div>
          <div class="carousel-item min-vh-100 carousel-custom-bg" style="background: url('assets/img/contents/testimony/bg/pat_BG.jpg');">
            <div>Acopiado</div>
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonyControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0M4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5"/>
          </svg> -->
          
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonyControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<!-- Modal -->
<div class="modal modal-md modal-lg fade px-4" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div *ngIf="isOpen" class="modal-content">
      <div class="modal-header d-flex flex-row justify-content-center" [ngStyle]="{ 'background-image' : 'linear-gradient(rgba(255, 255, 255, 0.466),rgba(7, 7, 7, 0.63)), url('+testimony.background_url+')' }">
        <div class="d-flex align-items-center justify-content-center image-div">
          <div class="testimony-image"  [ngStyle]="{ 'background-image' : 'url('+testimony.image_url+')' }"></div>
        </div>
        <div class="d-flex align-items-center details-div">
          <div class="testimony-name">{{ testimony.fullname }}</div>
          </div>

       
        <div class="modal-close-btn">
          <button #closeBTN type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
      </div>
      <div class="modal-body">
        <div class="">
          <div [innerHTML]="testimony.testimony" class="testimony-content global-contents"></div>
      </div>
    </div>
  </div>
</div>